<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Latest News</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
  <link rel="stylesheet" href="css/newsstyle.css" />
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="css/fontawesome.css">
  <link rel="stylesheet" href="css/templatemo-finance-business.css">
  <link rel="stylesheet" href="css/owl.css">
</head>

<body>
  

  <header class="">
   
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/index"><h2>Finac Financial Services</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#top">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/services">Our Services</a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="filled-button">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>




<br> <br> <br> <br> <br> <br>
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src=https://image.cnbcfm.com/api/v1/image/105444242-1591032246467preview.jpg?v=1591032267&w=740&h=416&ffmt=webp alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">13 April 2022</span>
        <div class="blog-slider__title">Profit fell 42%</div>
        <div class="blog-slider__text">JPMorgan Chase reports $524 million hit from market dislocations caused by Russia sanctions? </div>
        <a href="https://www.cnbc.com/2022/04/13/jpm-earnings-1q-2022.html" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://c.ndtvimg.com/2022-03/3jj8lreo_bitcoin-dubai_625x300_24_March_22.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">12 April 2022</span>
        <div class="blog-slider__title">Bitcoin Falls 5.3% To $39,881</div>
        <div class="blog-slider__text">Bitcoin dropped 5.3% to $39,881.02 at on Monday, down $2,231.58 from its previous close.</div>
        <a href="https://www.ndtv.com/business/bitcoin-falls-5-3-to-39-881-ether-dips-6-6-2885170" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://img.etimg.com/thumb/msid-90538272,width-650,imgsize-34788,,resizemode-4,quality-100/blockchain.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">10 April 2022</span>
        <div class="blog-slider__title"> Blockchain company Ronin hit by $615 million heist</div>
        <div class="blog-slider__text">The project said that unidentified hackers stole some 173,600 ether tokens and $25.5 million coin tokens on March 23. At current exchange rates, the stolen funds are worth $614 million.</div>
        <a href="https://economictimes.indiatimes.com/tech/technology/blockchain-company-ronin-hit-by-615-million-crypto-heist/articleshow/90538267.cms" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div>

<br> <br> <br> <br> <br> <br>

{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>